html,
body {
    height: 100%;
    background-color: #79EBCE;
    font-style: italic;
    color: #79EBCE;

}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #56406B;
}

.wrap > .container {
    padding: 70px 15px 20px;
    background-color: #47B2B2;

}

.footer {
    height: 60px;
    background-color: #56406B;
    border-top: 1px solid #ddd;
    padding-top: 20px;

}

.jumbotron {
    text-align: center;
    background-color: #56406B;
    font-family:#3D0F4C;
}

.jumbotron .btn {
    font-size: 36px;
    padding: 14px 24px;
    background-color: #3D0F4C;
    outline-color: #3D0F4C;
    
}

.not-set {
    color: #3D0F4C;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: italic;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color:  #CCFFFF;
}

.error-summary {
    color: #E60000;
    background: #56406B;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
